@import "tailwindcss";

:root {
  --background: #f1f2f5;
  --foreground: #171717;
}

* {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.invert-image {
  filter: invert(1);
}

.ms-rounded,
.msf-rounded {
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
}

.ms-rounded {
  font-family: var(--font-ms-rounded);
}

.msf-rounded {
  font-family: var(--font-msf-rounded);
}

.shimmer.rounded {
  border-radius: 8px;
}

.shimmer.gray {
  opacity: 0.2;
  background: linear-gradient(90deg, #8d8d8d 25%, #d4d4d4 50%, #9b9b9b 75%);
  background-size: 200% 100%;
}

.shimmer {
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  .invert-image {
    filter: invert(0);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
